* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.ohio {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(scene.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-box {
    height: 480px;
    width: 380px;
    position: relative;
    margin: 6% auto;
    background: #ffffff;
    padding: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px 9px  #ff61241f;
    border-radius: 30px;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #D3D3D3, #36669d);
    border-radius: 30px;
    transition: .5s;
}


.input-group {
    top: 130px;
    width: 280px;
    position: absolute;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    transition: border-bottom 0.3s ease;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #C3CBDC, #274060);
    border: 0;
    outline: none;
    border-radius: 30px;
    transition: background 0.3s ease;
}

.check-box {
    margin: 30px 10px 30px 0;
}

span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login {
    left: 50px;
    top: 220px
}

#signup {
    left: 450px;
}
